<div class="container">

  <div id="clinicManagerCon">
    <div class="card">
      <form>
        <div class="card-body">
          <h5 class="card-title">Clinic Manager Login</h5>
          <p class="card-text">Please enter your email and password</p>
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="mEmail" placeholder="Email Address">
          </div>
          
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="mPassword"
              placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>  
        </div>      
      </form>
    </div>
  </div>

  <div id="receptionistCon">

  </div>

  <div id="doctorCon">

  </div>
</div>