<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">GrabHealth</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn()" routerLink="/" routerLinkActive="active">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn()" routerLink="/" routerLinkActive="active">Settings</a>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.loggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Manager'" routerLink="/manager/clinic-team" routerLinkActive="active">View Clinic Team</a>
          <a class="dropdown-item" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Manager'" routerLink="/manager/medicine-list" routerLinkActive="active">View Medicine List</a>
          <a class="dropdown-item" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Manager'" routerLink="#" routerLinkActive="active">View Patients</a>
          <div class="dropdown-divider"></div>
      </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Receptionist'" routerLink="receptionist/all-patient-list" routerLinkActive="active">All Patients Records</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Receptionist'" routerLink="receptionist/patient-list" routerLinkActive="active">Walk-In Patient Records</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Receptionist'" routerLink="receptionist/pending-approval" routerLinkActive="active">Pending Approval Requests</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Receptionist'" routerLink="receptionist/view-queue" routerLinkActive="active">View Queue</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Receptionist'" routerLink="receptionist/queue-list" routerLinkActive="active">Queue List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Receptionist'" routerLink="receptionist/payment" routerLinkActive="active">Payment</a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="main-login" routerLinkActive="active">Main Login</a>
      </li> -->

    
    </ul>


    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <p style="margin: 0; color: white; padding-top: 5%;">
          {{ currentDate | date: 'dd/MM/yyyy' }} <span style="padding-left: 1%;">{{ currentDate | date: 'hh:mm a' }}</span>
        </p>
      </li>
      <li class="nav-item form-inline">
          <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
          <a class="nav-link" *ngIf="authService.loggedIn()" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>