<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">GrabHealth</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Manager'" routerLink="/manager/manager-change-password" routerLinkActive="active">Change Password</a>
        <a class="nav-link" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Receptionist'" routerLink="/recep/recep-change-password" routerLinkActive="active">Change Password</a>
        <a class="nav-link" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Doctor'" routerLink="/doctor/doctor-change-password" routerLinkActive="active">Change Password</a>
      </li>
      
      <li class="nav-item dropdown" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Manager'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!--Clinic Manager Links-->
          <a class="dropdown-item" *ngIf="authService.loggedIn()" routerLink="/manager/clinic-team" routerLinkActive="active">View Clinic Team</a>
          <a class="dropdown-item" *ngIf="authService.loggedIn()" routerLink="/manager/medicine-list" routerLinkActive="active">View Medicine List</a>
          <a class="dropdown-item" *ngIf="authService.loggedIn()" routerLink="#" routerLinkActive="active">View Patients</a>          
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Receptionist'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">         
          <!--Recep Links-->
          <a class="dropdown-item" *ngIf="authService.loggedIn()" routerLink="/receptionist/all-patient-list" routerLinkActive="active">All Patients Records</a>
          <a class="dropdown-item" *ngIf="authService.loggedIn()" routerLink="/receptionist/patient-list" routerLinkActive="active">Walk-In Patient Records</a>
          <a class="dropdown-item" *ngIf="authService.loggedIn()" routerLink="/receptionist/pending-approval" routerLinkActive="active">Pending Approval Requests</a>
          <a class="dropdown-item" *ngIf="authService.loggedIn()" routerLink="/receptionist/queue-list" routerLinkActive="active">Queue List</a>
          <a class="dropdown-item" *ngIf="authService.loggedIn()" routerLink="/receptionist/payment" routerLinkActive="active">Payment</a>
        </div>
      </li>

      <li class="nav-item">
        <!--Doctor Links-->
        <a class="nav-link" *ngIf="authService.loggedIn() && authService.getUserRole() === 'Doctor'" routerLink="/doctor/doctor-main" routerLinkActive="active">Home</a>
      </li>
    </ul>


    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <p style="margin: 0; color: white; padding-top: 5%;">
          {{ currentDate | date: 'dd/MM/yyyy' }} <span style="padding-left: 1%;">{{ currentDate | date: 'hh:mm a' }}</span>
        </p>
      </li>
      <li class="nav-item form-inline">
          <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
          <a class="nav-link" *ngIf="authService.loggedIn()" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>