<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          <h4>Payment</h4>
        </th>
      </tr>
    </thead>

    <thead class="thead-light">
      <tr>
        <th scope="col" class="colspacing">Queue No.</th>
        <th scope="col" class="colspacing">Name</th>
        <th scope="col" class="colspacing">NRIC</th>
        <th scope="col" class="colspacing">Complete Transaction</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let visit of visits">
        <td class="colspacing">{{ visit.patient.queueNo}}</td>
        <td class="colspacing">
          <span>{{ visit.patient.firstName }} </span>
          <span>{{ visit.patient.lastName }}</span>
        </td>
        <td class="colspacing">{{ visit.patient.nric }}</td>
        <td class="colspacing">
          <button type="submit" class="btn btn-primary" routerLink="/receptionist/payment-receipt" (click)="viewReceipt()">
            Complete Transaction
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>