<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          <h4>Payment</h4>
        </th>
      </tr>
    </thead>

    <thead class="thead-light">
      <tr *ngFor="let patient of patientlist">
        <th scope="col" class="colspacing">Queue No.</th>
        <th scope="col" class="colspacing">Name</th>
        <th scope="col" class="colspacing">NRIC</th>
        <th scope="col" class="colspacing">Complete Transaction</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="colspacing">{{ patient.queueNo}}</td>
        <td class="colspacing">
          <span>{{ patient.firstName }} </span>
          <span>{{ patient.lastName }}</span>
        </td>
        <td class="colspacing">S1234567A</td>
        <td class="colspacing">
          <button type="submit" class="btn btn-primary" routerLink="/receptionist/payment-receipt">
            Complete Transaction
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>