<div>
  <h3 style="padding: 1%;">View Queue</h3>
</div>

<div class="container">
  <div class="row" style="margin-bottom: 2%;">
    <div class="col displayCol" id="currentQueueNo" style="margin-right: 6%;">
      <h4 class="text-center" style="padding-top: 1%;"><b>View Queue</b></h4>
      <a routerLink="#">
        <p class="text-center" style="font-size: 18px;">001</p>
      </a>
    </div>

    <div class="col displayCol" id="noOfPatientsServed">
      <h4 class="text-center" style="padding-top: 1%;"><b>No. of Patients Served Today</b></h4>
      <a routerLink="#">
        <p class="text-center" style="font-size: 18px;">0</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col displayCol">

    </div>
  </div>
</div>