<div class="container">
  <h3 style="padding: 1%;">View Queue</h3>
</div>

<div class="container text-center">
  <div class="row" style="margin-bottom: 4%;">
    <div class="col displayCol" id="currentQueueNo" style="margin-right: 6%;">
      <h4><b>Current No.</b></h4>
      <button type="button" class="btn" data-toggle="modal" data-target="#viewQueuePatientDetailModal">
        <p style="font-size: 18px; margin: 0;">001</p>
      </button>
    </div>

    <div class="col displayCol" id="noOfPatientsServed">
      <h4 style="padding-top: 1%;"><b>No. of Patients Served Today</b></h4>
      <p style="font-size: 18px;">0</p>
    </div>
  </div>

  <div class="row">
    <div class="col displayCol" id="waitingQueueNo">
      <h4 style="padding-top: 1%;"><b>Waiting No.</b></h4>
      <button type="button" class="btn" data-toggle="modal" data-target="#viewQueuePatientDetailModal">
        <p style="font-size: 18px; margin: 0;">002</p>
      </button>

      <div class="queueCon">
        <table class="table">
          <thead>
            <tr class="table-primary">
              <th><h4>Next in queue:</h4></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td style="font-size: 18px;">
                <button type="button" class="btn" data-toggle="modal" data-target="#viewQueuePatientDetailModal">
                  <p style="font-size: 18px; margin: 0;">003</p>
                </button>
              </td> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!--View Queue (Patient Details Modal)-->
<div>
  <div class="modal fade" id="viewQueuePatientDetailModal" tabindex="-1" role="dialog" aria-labelledby="viewQueuePatientDetailModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th>Queue No.</th>
                <th>Patient Name</th>
                <th>Contact No.</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>001</td>
                <td>Jake Peralta</td>
                <td>91234567</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>