<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <h3>Patient List</h3>
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">
          <button type="button" class="btn btn-img" data-toggle="modal" data-target="#addNewPatientModal">
            <i class="fa fa-plus-circle fa-2x" id="addNewPatient"></i>
          </button>
        </th>
        <th scope="col">
          <!-- <form class="form-inline my-2 my-lg-0"> -->
            <input [(ngModel)]="nricSearch" class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            <!-- </form> -->
        </th>
      </tr>
    </thead>

    <thead class="thead-light">
      <tr>
        <th scope="col" class="colspacing">First Name</th>
        <th scope="col" class="colspacing">Last Name</th>
        <th scope="col" class="colspacing">NRIC/Passport No.</th>
        <th scope="col" class="colspacing">Contact No.</th>
        <th scope="col" class="colspacing"></th>
        <th scope="col" class="colspacing"></th>
        <th scope="col" class="colspacing"></th>
        <th scope="col" class="colspacing"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let patient of patientlist | grdFilter: {nric: nricSearch}">
        <td class="colspacing">{{ patient.firstName }}</td>
        <td class="colspacing">{{ patient.lastName }}</td>
        <td class="colspacing">{{ patient.nric }}</td>
        <td class="colspacing">{{ patient.contactNo }}</td>
        <td class="colspacing">
          <span class="d-inline-block" data-toggle="tooltip" data-placement="top" title="View Patient Details">
            <button type="button" class="btn btn-img" data-toggle="modal" data-target="#viewPatientDetailModal" (click)="viewPatientInfo(patient)">
              <i class="fa fa-eye fa-2x" id="viewPatientDetail"></i>
            </button>
          </span>
        </td>
        <td class="colspacing">
          <span class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Edit Patient Details">
            <button type="button" class="btn btn-img" data-toggle="modal" data-target="#editPatientDetailModal" (click)="editPatientInfo(patient)">
              <i class="fa fa-edit fa-2x" id="editPatientDetail"></i>
            </button>
          </span>
        </td>
        <td class="colspacing">
          <span class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Add patient to queue">
            <button type="button" class="btn btn-img" data-toggle="modal" data-target="#addToQueueModal" (click)="addToQueue(patient)">
              <i class="fa fa-plus fa-2x" id="addToQueue"></i>
            </button>
          </span>
        </td>
        <td class="colspacing">
          <span class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Remove patient from queue">
            <button type="button" class="btn btn-img" data-toggle="modal" data-target="#removeFromQueueModal" (click)="removeFromQueue(patient)">
              <i class="fa fa-minus fa-2x" id="removeFromQueue"></i>
            </button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
   
  </div>

</div>


<!--Add New Patient Modal-->
<div>
  <div class="modal fade" id="addNewPatientModal" tabindex="-1" role="dialog" aria-labelledby="addNewPatientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addNewPatientModalLabel">New Patient</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form name="newPatientForm">
            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="firstNameId" placeholder="First Name" name="firstName" [(ngModel)]="firstName" required>               
                </fieldset>
              </div>
                    
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="lastNameId" placeholder="Last Name" name="lastName" [(ngModel)]="lastName" required>
                </fieldset>
              </div>
            </div>

            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="nricNoId" placeholder="NRIC/ Passport No." name="nric" [(ngModel)]="nric" required>
                </fieldset>
              </div>

              <div class="col">
                <fieldset>
                  <select class="form-control" id="nationalityId" placeholder="Nationality" name="nationality" [(ngModel)]="nationality" required>
                    <option value="">-- Select One --</option>
                    <option value="afghan">Afghan</option>
                    <option value="Albanian">Albanian</option>
                    <option value="Algerian">Algerian</option>
                    <option value="American">American</option>
                    <option value="Andorran">Andorran</option>
                    <option value="Angolan">Angolan</option>
                    <option value="Antiguans">Antiguans</option>
                    <option value="Argentinean">Argentinean</option>
                    <option value="Armenian">Armenian</option>
                    <option value="Australian">Australian</option>
                    <option value="Austrian">Austrian</option>
                    <option value="Azerbaijani">Azerbaijani</option>
                    <option value="Bahamian">Bahamian</option>
                    <option value="Bahraini">Bahraini</option>
                    <option value="Bangladeshi">Bangladeshi</option>
                    <option value="Barbadian">Barbadian</option>
                    <option value="Barbudans">Barbudans</option>
                    <option value="Batswana">Batswana</option>
                    <option value="Belarusian">Belarusian</option>
                    <option value="Belgian">Belgian</option>
                    <option value="Belizean">Belizean</option>
                    <option value="Beninese">Beninese</option>
                    <option value="Bhutanese">Bhutanese</option>
                    <option value="Bolivian">Bolivian</option>
                    <option value="Brazilian">Brazilian</option>
                    <option value="British">British</option>
                    <option value="Bruneian">Bruneian</option>
                    <option value="Bulgarian">Bulgarian</option>
                    <option value="Burkinabe">Burkinabe</option>
                    <option value="Burmese">Burmese</option>
                    <option value="Burundian">Burundian</option>
                    <option value="Cambodian">Cambodian</option>
                    <option value="Cameroonian">Cameroonian</option>
                    <option value="Canadian">Canadian</option>
                    <option value="Cape Verdean">Cape Verdean</option>
                    <option value="Central African">Central African</option>
                    <option value="Chadian">Chadian</option>
                    <option value="Chilean">Chilean</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Colombian">Colombian</option>
                    <option value="Comoran">Comoran</option>
                    <option value="Congolese">Congolese</option>
                    <option value="Costa Rican">Costa Rican</option>
                    <option value="Croatian">Croatian</option>
                    <option value="Cuban">Cuban</option>
                    <option value="Cypriot">Cypriot</option>
                    <option value="Czech">Czech</option>
                    <option value="Danish">Danish</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominican">Dominican</option>
                    <option value="Dutch">Dutch</option>
                    <option value="East Timorese">East Timorese</option>
                    <option value="Ecuadorean">Ecuadorean</option>
                    <option value="Egyptian">Egyptian</option>
                    <option value="Emirian">Emirian</option>
                    <option value="Equatorial Guinean">Equatorial Guinean</option>
                    <option value="Eritrean">Eritrean</option>
                    <option value="Estonian">Estonian</option>
                    <option value="Ethiopian">Ethiopian</option>
                    <option value="Fijian">Fijian</option>
                    <option value="Filipino">Filipino</option>
                    <option value="Finnish">Finnish</option>
                    <option value="French">French</option>
                    <option value="Gabonese">Gabonese</option>
                    <option value="Gambian">Gambian</option>
                    <option value="Georgian">Georgian</option>
                    <option value="German">German</option>
                    <option value="Ghanaian">Ghanaian</option>
                    <option value="Greek">Greek</option>
                    <option value="Grenadian">Grenadian</option>
                    <option value="Guatemalan">Guatemalan</option>
                    <option value="Guinea-Bissauan">Guinea-Bissauan</option>
                    <option value="Guinean">Guinean</option>
                    <option value="Guyanese">Guyanese</option>
                    <option value="Haitian">Haitian</option>
                    <option value="Herzegovinian">Herzegovinian</option>
                    <option value="Honduran">Honduran</option>
                    <option value="Hungarian">Hungarian</option>
                    <option value="Icelander">Icelander</option>
                    <option value="Indian">Indian</option>
                    <option value="Indonesian">Indonesian</option>
                    <option value="Iranian">Iranian</option>
                    <option value="Iraqi">Iraqi</option>
                    <option value="Irish">Irish</option>
                    <option value="Israeli">Israeli</option>
                    <option value="Italian">Italian</option>
                    <option value="Ivorian">Ivorian</option>
                    <option value="Jamaican">Jamaican</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Jordanian">Jordanian</option>
                    <option value="Kazakhstani">Kazakhstani</option>
                    <option value="Kenyan">Kenyan</option>
                    <option value="Kittian and Nevisian">Kittian and Nevisian</option>
                    <option value="Kuwaiti">Kuwaiti</option>
                    <option value="Kyrgyz">Kyrgyz</option>
                    <option value="Laotian">Laotian</option>
                    <option value="Latvian">Latvian</option>
                    <option value="Lebanese">Lebanese</option>
                    <option value="Liberian">Liberian</option>
                    <option value="Libyan">Libyan</option>
                    <option value="Liechtensteiner">Liechtensteiner</option>
                    <option value="Lithuanian">Lithuanian</option>
                    <option value="Luxembourger">Luxembourger</option>
                    <option value="Macedonian">Macedonian</option>
                    <option value="Malagasy">Malagasy</option>
                    <option value="Malawian">Malawian</option>
                    <option value="Malaysian">Malaysian</option>
                    <option value="Maldivan">Maldivan</option>
                    <option value="Malian">Malian</option>
                    <option value="Maltese">Maltese</option>
                    <option value="Marshallese">Marshallese</option>
                    <option value="Mauritanian">Mauritanian</option>
                    <option value="Mauritian">Mauritian</option>
                    <option value="Mexican">Mexican</option>
                    <option value="Micronesian">Micronesian</option>
                    <option value="Moldovan">Moldovan</option>
                    <option value="Monacan">Monacan</option>
                    <option value="Mongolian">Mongolian</option>
                    <option value="Moroccan">Moroccan</option>
                    <option value="Mosotho">Mosotho</option>
                    <option value="Motswana">Motswana</option>
                    <option value="Mozambican">Mozambican</option>
                    <option value="Namibian">Namibian</option>
                    <option value="Nauruan">Nauruan</option>
                    <option value="Nepalese">Nepalese</option>
                    <option value="New Zealander">New Zealander</option>
                    <option value="Ni-Vanuatu">Ni-Vanuatu</option>
                    <option value="Nicaraguan">Nicaraguan</option>
                    <option value="Nigerien">Nigerien</option>
                    <option value="North Korean">North Korean</option>
                    <option value="Northern Irish">Northern Irish</option>
                    <option value="Norwegian">Norwegian</option>
                    <option value="Omani">Omani</option>
                    <option value="Pakistani">Pakistani</option>
                    <option value="Palauan">Palauan</option>
                    <option value="Panamanian">Panamanian</option>
                    <option value="Papua New Guinean">Papua New Guinean</option>
                    <option value="Paraguayan">Paraguayan</option>
                    <option value="Peruvian">Peruvian</option>
                    <option value="Polish">Polish</option>
                    <option value="Portuguese">Portuguese</option>
                    <option value="Qatari">Qatari</option>
                    <option value="Romanian">Romanian</option>
                    <option value="Russian">Russian</option>
                    <option value="Rwandan">Rwandan</option>
                    <option value="Saint Lucian">Saint Lucian</option>
                    <option value="Salvadoran">Salvadoran</option>
                    <option value="Samoan">Samoan</option>
                    <option value="San Marinese">San Marinese</option>
                    <option value="Sao Tomean">Sao Tomean</option>
                    <option value="Saudi">Saudi</option>
                    <option value="Scottish">Scottish</option>
                    <option value="Senegalese">Senegalese</option>
                    <option value="Serbian">Serbian</option>
                    <option value="Seychellois">Seychellois</option>
                    <option value="Sierra Leonean">Sierra Leonean</option>
                    <option value="Singaporean" selected>Singaporean</option>
                    <option value="Slovakian">Slovakian</option>
                    <option value="Slovenian">Slovenian</option>
                    <option value="Solomon Islander">Solomon Islander</option>
                    <option value="Somali">Somali</option>
                    <option value="South African">South African</option>
                    <option value="South Korean">South Korean</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Sri Lankan">Sri Lankan</option>
                    <option value="Sudanese">Sudanese</option>
                    <option value="Surinamer">Surinamer</option>
                    <option value="Swazi">Swazi</option>
                    <option value="Swedish">Swedish</option>
                    <option value="Swiss">Swiss</option>
                    <option value="Syrian">Syrian</option>
                    <option value="Taiwanese">Taiwanese</option>
                    <option value="Tajik">Tajik</option>
                    <option value="Tanzanian">Tanzanian</option>
                    <option value="Thai">Thai</option>
                    <option value="Togolese">Togolese</option>
                    <option value="Tongan">Tongan</option>
                    <option value="Trinidadian or Tobagonian">Trinidadian or Tobagonian</option>
                    <option value="Tunisian">Tunisian</option>
                    <option value="Turkish">Turkish</option>
                    <option value="Tuvaluan">Tuvaluan</option>
                    <option value="Ugandan">Ugandan</option>
                    <option value="Ukrainian">Ukrainian</option>
                    <option value="Uruguayan">Uruguayan</option>
                    <option value="Uzbekistani">Uzbekistani</option>
                    <option value="Venezuelan">Venezuelan</option>
                    <option value="Vietnamese">Vietnamese</option>
                    <option value="Welsh">Welsh</option>
                    <option value="Yemenite">Yemenite</option>
                    <option value="Zambian">Zambian</option>
                    <option value="Zimbabwean">Zimbabwean</option>
                  </select>
                  <small id="nationalityHelp" class="form-text text-muted">Nationality</small>
                </fieldset>
              </div>
            </div>

            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <select class="form-control" id="genderId" placeholder="Gender" name="gender" [(ngModel)]="gender" required>
                    <option value="">-- Select One--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                  <small id="genderHelp" class="form-text text-muted">Gender</small>
                </fieldset>
              </div>

              <div class="col">
                <fieldset>
                  <input type="date" class="form-control" id="DOBId" name="dob" [(ngModel)]="dob" required>                
                  <small id="DOBHelp" class="form-text text-muted">Date of Birth (Format: DD/MM/YYYY)</small>
                </fieldset>
              </div>
            </div> 
                
            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <input type="email" class="form-control" id="emailId" placeholder="Email" name="email" [(ngModel)]="email" required>
                </fieldset>
              </div>

              <div class="col">
                <fieldset>
                  <input type="tel" class="form-control" id="contactId" pattern="[8|9][0-9]{7}" size="8" placeholder="Contact No." name="contactNo" [(ngModel)]="contactNo" required>
                </fieldset>
              </div>
            </div>

            <div class="row rowspacing">
              <div class="col">
                <textarea class="form-control" id="addressId" rows="3" placeholder="Address" name="address" [(ngModel)]="address" required></textarea>
              </div>
            </div> 

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="createPatient()" id="createPatientBtn">Add Patient</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--View Patient Details Modal-->
<div>
  <div class="modal fade" id="viewPatientDetailModal" tabindex="-1" role="dialog" aria-labelledby="viewPatientDetailModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewPatientDetailModalLabel">View Patient Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body" *ngIf="patient">
          <form>
            <div class="row rowspacing">
              <div class="col">
                <label><b>First Name:</b></label>
                <p>{{ patient.firstName }}</p>
              </div>
                      
              <div class="col">
                <label><b>Last Name:</b></label>
                <p>{{ patient.lastName }}</p>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">
                <label><b>NRIC/ Passport No.:</b></label>
                <p>{{ patient.nric }}</p>
              </div>
  
              <div class="col">
                <label><b>Nationality:</b></label>
                <p>{{ patient.nationality }}</p>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">                
                <label><b>Gender:</b></label>
                <p>{{ patient.gender }}</p>
              </div>

              <div class="col">
                <label><b>D.O.B:</b></label>
                <p>{{ patient.dob | date: 'dd/MM/yyyy' }}</p>
              </div>
            </div>

            <div class="row rowspacing">
              <div class="col">                
                <label><b>Email:</b></label>
                <p>{{ patient.email }}</p>
              </div>

              <div class="col">
                <label><b>Contact No:</b></label>
                <p>{{ patient.contactNo }}</p>
              </div>
            </div>

            <div class="row rowspacing">
              <div class="col">
                <label><b>Address:</b></label>
                <p>{{ patient.address }}</p>
              </div>
            </div> 
    

            <table class="table">
              <thead>
                <th>Payment History</th>
              </thead>

              <tbody>
                <tr>
                  <td>Receipt No.</td>
                  <td>Date</td>
                  <td>Time</td>
                  <td>Total Due</td>
                  <td><img src="assets/img/view.png" class="logo"></td>
                </tr>

                <tr>
                  <td>#123</td>
                  <td>20/12/2018</td>
                  <td>14:58</td>
                  <td>$30.50</td>
                  <td>
                    <button type="button" class="btn btn-img" data-toggle="modal" data-target="#viewPaymentDetail">
                      <img src="assets/img/view.png" class="logo" id="viewPayment">
                    </button>
                  </td>
                </tr>
              </tbody>
              
            </table>
  
          </form>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Edit Patient Details Modal-->
<div>
  <div class="modal fade" id="editPatientDetailModal" tabindex="-1" role="dialog" aria-labelledby="editPatientDetailModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPatientDetailModalLabel">Edit Patient Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body" *ngIf="patient">
          <form>
            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <label><b>First Name:</b></label>
                  <input type="text" class="form-control" id="firstNameId" placeholder="First Name" name="firstName" [(ngModel)]="editPFirstName" required/>
                </fieldset>
              </div>
                      
              <div class="col">
                <fieldset>
                  <label><b>Last Name:</b></label>
                  <input type="text" class="form-control" id="lastNameId" placeholder="Last Name" name="lastName" [(ngModel)]="editPLastName" required/>
                </fieldset>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <label><b>NRIC/ Passport No:</b></label>
                  <input type="text" class="form-control" id="nricNoId" placeholder="NRIC/ Passport No." name="nric" [(ngModel)]="nric" required disabled/>
                </fieldset>
              </div>
  
              <div class="col">
                <fieldset>
                  <label><b>Nationality:</b></label>
                  <select class="form-control" id="nationalityId" placeholder="Nationality" name="editPNationality" [(ngModel)]="editPNationality" required>
                    <option value="">-- Select One --</option>
                    <option value="afghan">Afghan</option>
                    <option value="Albanian">Albanian</option>
                    <option value="Algerian">Algerian</option>
                    <option value="American">American</option>
                    <option value="Andorran">Andorran</option>
                    <option value="Angolan">Angolan</option>
                    <option value="Antiguans">Antiguans</option>
                    <option value="Argentinean">Argentinean</option>
                    <option value="Armenian">Armenian</option>
                    <option value="Australian">Australian</option>
                    <option value="Austrian">Austrian</option>
                    <option value="Azerbaijani">Azerbaijani</option>
                    <option value="Bahamian">Bahamian</option>
                    <option value="Bahraini">Bahraini</option>
                    <option value="Bangladeshi">Bangladeshi</option>
                    <option value="Barbadian">Barbadian</option>
                    <option value="Barbudans">Barbudans</option>
                    <option value="Batswana">Batswana</option>
                    <option value="Belarusian">Belarusian</option>
                    <option value="Belgian">Belgian</option>
                    <option value="Belizean">Belizean</option>
                    <option value="Beninese">Beninese</option>
                    <option value="Bhutanese">Bhutanese</option>
                    <option value="Bolivian">Bolivian</option>
                    <option value="Brazilian">Brazilian</option>
                    <option value="British">British</option>
                    <option value="Bruneian">Bruneian</option>
                    <option value="Bulgarian">Bulgarian</option>
                    <option value="Burkinabe">Burkinabe</option>
                    <option value="Burmese">Burmese</option>
                    <option value="Burundian">Burundian</option>
                    <option value="Cambodian">Cambodian</option>
                    <option value="Cameroonian">Cameroonian</option>
                    <option value="Canadian">Canadian</option>
                    <option value="Cape Verdean">Cape Verdean</option>
                    <option value="Central African">Central African</option>
                    <option value="Chadian">Chadian</option>
                    <option value="Chilean">Chilean</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Colombian">Colombian</option>
                    <option value="Comoran">Comoran</option>
                    <option value="Congolese">Congolese</option>
                    <option value="Costa Rican">Costa Rican</option>
                    <option value="Croatian">Croatian</option>
                    <option value="Cuban">Cuban</option>
                    <option value="Cypriot">Cypriot</option>
                    <option value="Czech">Czech</option>
                    <option value="Danish">Danish</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominican">Dominican</option>
                    <option value="Dutch">Dutch</option>
                    <option value="East Timorese">East Timorese</option>
                    <option value="Ecuadorean">Ecuadorean</option>
                    <option value="Egyptian">Egyptian</option>
                    <option value="Emirian">Emirian</option>
                    <option value="Equatorial Guinean">Equatorial Guinean</option>
                    <option value="Eritrean">Eritrean</option>
                    <option value="Estonian">Estonian</option>
                    <option value="Ethiopian">Ethiopian</option>
                    <option value="Fijian">Fijian</option>
                    <option value="Filipino">Filipino</option>
                    <option value="Finnish">Finnish</option>
                    <option value="French">French</option>
                    <option value="Gabonese">Gabonese</option>
                    <option value="Gambian">Gambian</option>
                    <option value="Georgian">Georgian</option>
                    <option value="German">German</option>
                    <option value="Ghanaian">Ghanaian</option>
                    <option value="Greek">Greek</option>
                    <option value="Grenadian">Grenadian</option>
                    <option value="Guatemalan">Guatemalan</option>
                    <option value="Guinea-Bissauan">Guinea-Bissauan</option>
                    <option value="Guinean">Guinean</option>
                    <option value="Guyanese">Guyanese</option>
                    <option value="Haitian">Haitian</option>
                    <option value="Herzegovinian">Herzegovinian</option>
                    <option value="Honduran">Honduran</option>
                    <option value="Hungarian">Hungarian</option>
                    <option value="Icelander">Icelander</option>
                    <option value="Indian">Indian</option>
                    <option value="Indonesian">Indonesian</option>
                    <option value="Iranian">Iranian</option>
                    <option value="Iraqi">Iraqi</option>
                    <option value="Irish">Irish</option>
                    <option value="Israeli">Israeli</option>
                    <option value="Italian">Italian</option>
                    <option value="Ivorian">Ivorian</option>
                    <option value="Jamaican">Jamaican</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Jordanian">Jordanian</option>
                    <option value="Kazakhstani">Kazakhstani</option>
                    <option value="Kenyan">Kenyan</option>
                    <option value="Kittian and Nevisian">Kittian and Nevisian</option>
                    <option value="Kuwaiti">Kuwaiti</option>
                    <option value="Kyrgyz">Kyrgyz</option>
                    <option value="Laotian">Laotian</option>
                    <option value="Latvian">Latvian</option>
                    <option value="Lebanese">Lebanese</option>
                    <option value="Liberian">Liberian</option>
                    <option value="Libyan">Libyan</option>
                    <option value="Liechtensteiner">Liechtensteiner</option>
                    <option value="Lithuanian">Lithuanian</option>
                    <option value="Luxembourger">Luxembourger</option>
                    <option value="Macedonian">Macedonian</option>
                    <option value="Malagasy">Malagasy</option>
                    <option value="Malawian">Malawian</option>
                    <option value="Malaysian">Malaysian</option>
                    <option value="Maldivan">Maldivan</option>
                    <option value="Malian">Malian</option>
                    <option value="Maltese">Maltese</option>
                    <option value="Marshallese">Marshallese</option>
                    <option value="Mauritanian">Mauritanian</option>
                    <option value="Mauritian">Mauritian</option>
                    <option value="Mexican">Mexican</option>
                    <option value="Micronesian">Micronesian</option>
                    <option value="Moldovan">Moldovan</option>
                    <option value="Monacan">Monacan</option>
                    <option value="Mongolian">Mongolian</option>
                    <option value="Moroccan">Moroccan</option>
                    <option value="Mosotho">Mosotho</option>
                    <option value="Motswana">Motswana</option>
                    <option value="Mozambican">Mozambican</option>
                    <option value="Namibian">Namibian</option>
                    <option value="Nauruan">Nauruan</option>
                    <option value="Nepalese">Nepalese</option>
                    <option value="New Zealander">New Zealander</option>
                    <option value="Ni-Vanuatu">Ni-Vanuatu</option>
                    <option value="Nicaraguan">Nicaraguan</option>
                    <option value="Nigerien">Nigerien</option>
                    <option value="North Korean">North Korean</option>
                    <option value="Northern Irish">Northern Irish</option>
                    <option value="Norwegian">Norwegian</option>
                    <option value="Omani">Omani</option>
                    <option value="Pakistani">Pakistani</option>
                    <option value="Palauan">Palauan</option>
                    <option value="Panamanian">Panamanian</option>
                    <option value="Papua New Guinean">Papua New Guinean</option>
                    <option value="Paraguayan">Paraguayan</option>
                    <option value="Peruvian">Peruvian</option>
                    <option value="Polish">Polish</option>
                    <option value="Portuguese">Portuguese</option>
                    <option value="Qatari">Qatari</option>
                    <option value="Romanian">Romanian</option>
                    <option value="Russian">Russian</option>
                    <option value="Rwandan">Rwandan</option>
                    <option value="Saint Lucian">Saint Lucian</option>
                    <option value="Salvadoran">Salvadoran</option>
                    <option value="Samoan">Samoan</option>
                    <option value="San Marinese">San Marinese</option>
                    <option value="Sao Tomean">Sao Tomean</option>
                    <option value="Saudi">Saudi</option>
                    <option value="Scottish">Scottish</option>
                    <option value="Senegalese">Senegalese</option>
                    <option value="Serbian">Serbian</option>
                    <option value="Seychellois">Seychellois</option>
                    <option value="Sierra Leonean">Sierra Leonean</option>
                    <option value="Singaporean" selected>Singaporean</option>
                    <option value="Slovakian">Slovakian</option>
                    <option value="Slovenian">Slovenian</option>
                    <option value="Solomon Islander">Solomon Islander</option>
                    <option value="Somali">Somali</option>
                    <option value="South African">South African</option>
                    <option value="South Korean">South Korean</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Sri Lankan">Sri Lankan</option>
                    <option value="Sudanese">Sudanese</option>
                    <option value="Surinamer">Surinamer</option>
                    <option value="Swazi">Swazi</option>
                    <option value="Swedish">Swedish</option>
                    <option value="Swiss">Swiss</option>
                    <option value="Syrian">Syrian</option>
                    <option value="Taiwanese">Taiwanese</option>
                    <option value="Tajik">Tajik</option>
                    <option value="Tanzanian">Tanzanian</option>
                    <option value="Thai">Thai</option>
                    <option value="Togolese">Togolese</option>
                    <option value="Tongan">Tongan</option>
                    <option value="Trinidadian or Tobagonian">Trinidadian or Tobagonian</option>
                    <option value="Tunisian">Tunisian</option>
                    <option value="Turkish">Turkish</option>
                    <option value="Tuvaluan">Tuvaluan</option>
                    <option value="Ugandan">Ugandan</option>
                    <option value="Ukrainian">Ukrainian</option>
                    <option value="Uruguayan">Uruguayan</option>
                    <option value="Uzbekistani">Uzbekistani</option>
                    <option value="Venezuelan">Venezuelan</option>
                    <option value="Vietnamese">Vietnamese</option>
                    <option value="Welsh">Welsh</option>
                    <option value="Yemenite">Yemenite</option>
                    <option value="Zambian">Zambian</option>
                    <option value="Zimbabwean">Zimbabwean</option>
                  </select>
                </fieldset>
              </div>
            </div>  
          
            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <label><b>Gender:</b></label>
                  <select class="form-control" id="genderId" placeholder="Gender" name="gender" [(ngModel)]="gender" required disabled>
                    <option value="">--Select One--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </fieldset>
              </div>

              <div class="col">
                <fieldset>
                  <label><b>Date of Birth:</b></label>
                  <input type="date" class="form-control" id="DOBId" name="dob" [(ngModel)]="dob" required disabled>                
                  <small id="DOBHelp" class="form-text text-muted">Date of Birth (Format: DD/MM/YYYY)</small>
                </fieldset>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <label><b>Email:</b></label>
                  <input type="email" class="form-control" id="emailId" placeholder="Email" name="email" [(ngModel)]="email" required disabled>
                </fieldset>
              </div>

              <div class="col">
                <fieldset>
                  <label><b>Contact No:</b></label>
                  <input type="tel" class="form-control" id="contactId" pattern="[8|9][0-9]{7}" size="8" placeholder="Contact No." name="editPContactNo" [(ngModel)]="editPContactNo" required>
                </fieldset>
              </div>
            </div>
              
            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <label><b>Address:</b></label>
                  <textarea class="form-control" id="addressId" rows="3" placeholder="Address" name="address" [(ngModel)]="editPAddress" required></textarea>
                </fieldset>
              </div>
            </div> 

          </form>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="onEditPatientInfo()" id="editPatientInfoBtn">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Add Patient To Queue Modal-->
<div>
  <div class="modal fade" id="addToQueueModal" tabindex="-1" role="dialog" aria-labelledby="addToQueueModal" aria-hidden="true">    
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Successfully Added To Queue</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" *ngIf="patient">
          <form>
            <div class="row" style="padding-left: 4%;">
              <p>
                <b>{{ patient.firstName }} </b>
                <b>{{ patient.lastName }} </b>
                has been successfully added to queue.
              </p>
            </div>

            <div class="row" style="padding-left: 4%;">
              <p><strong>Queue Number:</strong> {{ patient.queueNo }}</p>
            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Remove Patient From Queue Modal-->
<div>
    <div class="modal fade" id="removeFromQueueModal" tabindex="-1" role="dialog" aria-labelledby="removeFromQueueModal" aria-hidden="true">    
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="removeFromQueueTitle">Remove Patient From Queue</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
  
          <div class="modal-body">
            <form>
              <div class="row" style="padding-left: 4%;">
                <p>Are you sure you want to remove
                  <b> {{ patient.firstName }} </b>
                  <b>{{ patient.lastName }} </b>
                  from the queue?
                </p>
              </div>
  
            </form>
          </div>
  
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" (click)="onRemoveFromQueue()" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>