<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <h3>Patient List</h3>
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">
          <button type="button" class="btn btn-img" data-toggle="modal" data-target="#addNewPatientModal">
            <img src="assets/img/addNew.png" class="logo" id="addNewPatient">
          </button>
        </th>
        <th scope="col">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </th>
      </tr>
    </thead>

    <thead class="thead-light">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">NRIC/Passport No.</th>
        <th scope="col">Contact</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Jake</td>
        <td>Peralta</td>
        <td>S1234567A</td>
        <td></td>
        <td>
          <button type="button" class="btn btn-img" data-toggle="modal" data-target="#viewPatientDetailModal">
            <img src="assets/img/view.png" class="logo" id="viewPatientDetail">
          </button>
        </td>
        <td>
          <button class="btn btn-img" data-toggle="modal" data-target="#">
            <img src="assets/img/addToQueue.png" class="logo" id="addPatientToQueue">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--Add New Patient Modal-->
<div>
  <div class="modal fade" id="addNewPatientModal" tabindex="-1" role="dialog" aria-labelledby="addNewPatientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addNewPatientModalLabel">New Patient</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form>
            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="firstNameId" placeholder="First Name" required="required"/>
                </fieldset>
              </div>
                    
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="lastNameId" placeholder="Last Name" required="required"/>
                </fieldset>
              </div>
            </div>

            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="nricNoId" placeholder="NRIC/ Passport No." required="required"/>
                </fieldset>
              </div>

              <div class="col">
                <fieldset>
                  <select class="form-control" id="genderId" placeholder="Gender" required="required">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </fieldset>
              </div>
            </div>

            <div class="row rowspacing">
              <div class="col">
                <textarea class="form-control" id="addressId" rows="3" placeholder="Address" required="required"></textarea>
              </div>
            </div> 
                
            <div class="row rowspacing">
              <div class="col">
                <input type="date" class="form-control" id="DOBId" required="required"/>                
                <small id="DOBHelp" class="form-text text-muted">Date of Birth (Format: DD/MM/YYYY)</small>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="nationalityId" placeholder="Nationality" required="required"/>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Add Patient</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--View Patient Details Modal-->
<div>
  <div class="modal fade" id="viewPatientDetailModal" tabindex="-1" role="dialog" aria-labelledby="viewPatientDetailModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewPatientDetailModalLabel">View Patient Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          <form>
            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="firstNameId" readonly="" placeholder="First Name" />
                </fieldset>
              </div>
                      
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="lastNameId" readonly="" placeholder="Last Name"/>
                </fieldset>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="nricNoId" readonly="" placeholder="NRIC/ Passport No."/>
                </fieldset>
              </div>
  
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="genderId" readonly="" placeholder="Gender">
                </fieldset>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">
                <textarea class="form-control" id="addressId" readonly="" rows="3" placeholder="Address"></textarea>
              </div>
            </div> 
                  
            <div class="row rowspacing">
              <div class="col">
                <input type="date" class="form-control" id="DOBId" readonly=""/>                
                <small id="DOBHelp" class="form-text text-muted">Date of Birth (Format: DD/MM/YYYY)</small>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">
                <input type="text" class="form-control" id="nationalityId" readonly="" placeholder="Nationality"/>
              </div>
            </div>

            <table class="table">
              <thead>
                <th>Payment History</th>
              </thead>

              <tbody>
                <tr>
                  <td>Receipt No.</td>
                  <td>Date</td>
                  <td>Time</td>
                  <td>Total Due</td>
                  <td><img src="assets/img/view.png" class="logo"></td>
                </tr>

                <tr>
                  <td>#123</td>
                  <td>20/12/2018</td>
                  <td>14:58</td>
                  <td>$30.50</td>
                  <td>
                    <button type="button" class="btn btn-img" data-toggle="modal" data-target="#viewPaymentDetail">
                      <img src="assets/img/view.png" class="logo" id="viewPayment">
                    </button>
                  </td>
                </tr>
              </tbody>
              
            </table>
  
          </form>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>