<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <h3>Patient List</h3>
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">
          <button type="button" class="btn btn-img" data-toggle="modal" data-target="#addNewPatientModal">
            <i class="fa fa-plus-circle fa-2x" id="addNewPatient"></i>
          </button>
        </th>
        <th scope="col">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </th>
      </tr>
    </thead>

    <thead class="thead-light">
      <tr>
        <th scope="col" class="colspacing">First Name</th>
        <th scope="col" class="colspacing">Last Name</th>
        <th scope="col" class="colspacing">NRIC/Passport No.</th>
        <th scope="col" class="colspacing">Contact No.</th>
        <th scope="col" class="colspacing"></th>
        <th scope="col" class="colspacing"></th>
        <th scope="col" class="colspacing"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let patient of patientlist">
        <td class="colspacing">{{ patient.firstName }}</td>
        <td class="colspacing">{{ patient.lastName }}</td>
        <td class="colspacing">{{ patient.nric }}</td>
        <td class="colspacing">{{ patient.contactNo }}</td>
        <td class="colspacing">
          <span class="d-inline-block" data-toggle="tooltip" data-placement="top" title="View Patient Details">
            <button type="button" class="btn btn-img" data-toggle="modal" data-target="#viewPatientDetailModal" (click)="viewPatientInfo(patient)">
              <i class="fa fa-eye fa-2x" id="viewPatientDetail"></i>
            </button>
          </span>
        </td>
        <td class="colspacing">
          <span class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Edit Patient Details">
            <button type="button" class="btn btn-img" data-toggle="modal" data-target="#editPatientDetailModal" (click)="editPatientInfo(patient)">
              <i class="fa fa-edit fa-2x" id="editPatientDetail"></i>
            </button>
          </span>
        </td>
        <td class="colspacing">
          <span class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Add patient to queue">
            <button type="button" class="btn btn-img" data-toggle="modal" data-target="#addToQueueSuccessModal" (click)="addPatientToQueue(patient)">
              <i class="fa fa-plus fa-2x" id="addPatientToQueue"></i>
            </button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
   
  </div>

</div>


<!--Add New Patient Modal-->
<div>
  <div class="modal fade" id="addNewPatientModal" tabindex="-1" role="dialog" aria-labelledby="addNewPatientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addNewPatientModalLabel">New Patient</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form name="newPatientForm">
            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="firstNameId" placeholder="First Name" name="firstName" [(ngModel)]="firstName" required/>               
                </fieldset>
              </div>
                    
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="lastNameId" placeholder="Last Name" required name="lastName" [(ngModel)]="lastName"/>
                </fieldset>
              </div>
            </div>

            <div class="row rowspacing">
              <div class="col">
                <fieldset>
                  <input type="text" class="form-control" id="nricNoId" placeholder="NRIC/ Passport No." required name="nric" [(ngModel)]="nric"/>
                </fieldset>
              </div>

              <div class="col">
                <fieldset>
                  <select class="form-control" id="genderId" placeholder="Gender" required name="gender" [(ngModel)]="gender">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </fieldset>
              </div>
            </div>

            <div class="row rowspacing">
              <div class="col">
                <textarea class="form-control" id="addressId" rows="3" placeholder="Address" required name="address" [(ngModel)]="address"></textarea>
              </div>
            </div> 
                
            <div class="row rowspacing">
              <div class="col">
                <input type="date" class="form-control" id="DOBId" required name="dob" [(ngModel)]="dob"/>                
                <small id="DOBHelp" class="form-text text-muted">Date of Birth (Format: DD/MM/YYYY)</small>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <fieldset>
                 <input type="text" class="form-control" id="nationalityId" placeholder="Nationality" required name="nationality" [(ngModel)]="nationality"/>
                </fieldset>
              </div>

              <div class="col">
                <fieldset>
                  <input type="tel" class="form-control" id="contactId" pattern="[8|9][0-9]{7}" size="8" placeholder="Contact No." required name="contactNo" [(ngModel)]="contactNo"/>
                </fieldset>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="createPatient()" id="createPatientBtn">Add Patient</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--View Patient Details Modal-->
<div>
  <div class="modal fade" id="viewPatientDetailModal" tabindex="-1" role="dialog" aria-labelledby="viewPatientDetailModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewPatientDetailModalLabel">View Patient Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body" *ngIf="patient">
          <form>
            <div class="row rowspacing">
              <div class="col">
                <p><b>First Name:</b> {{ patient.firstName }}</p>
              </div>
                      
              <div class="col">
                <p><b>Last Name:</b> {{ patient.lastName }}</p>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">
                <p><b>NRIC:</b> {{ patient.nric }}</p>
              </div>
  
              <div class="col">
                <p><b>Gender:</b> {{ patient.gender }}</p>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">
                <p><b>Address:</b> {{ patient.address }}</p>
              </div>
            </div> 
                  
            <div class="row rowspacing">
              <div class="col">
                <p><b>D.O.B:</b> {{ patient.dob | date: 'dd/MM/yyyy' }}</p>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">
                <p><b>Nationality:</b> {{ patient.nationality }}</p>
              </div>

              <div class="col">
                <p><b>Contact No:</b> {{ patient.contactNo }}</p>
              </div>
            </div>

            <table class="table">
              <thead>
                <th>Payment History</th>
              </thead>

              <tbody>
                <tr>
                  <td>Receipt No.</td>
                  <td>Date</td>
                  <td>Time</td>
                  <td>Total Due</td>
                  <td><img src="assets/img/view.png" class="logo"></td>
                </tr>

                <tr>
                  <td>#123</td>
                  <td>20/12/2018</td>
                  <td>14:58</td>
                  <td>$30.50</td>
                  <td>
                    <button type="button" class="btn btn-img" data-toggle="modal" data-target="#viewPaymentDetail">
                      <img src="assets/img/view.png" class="logo" id="viewPayment">
                    </button>
                  </td>
                </tr>
              </tbody>
              
            </table>
  
          </form>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Edit Patient Details Modal--> <!--Not Done-->
<div>
  <div class="modal fade" id="editPatientDetailModal" tabindex="-1" role="dialog" aria-labelledby="editPatientDetailModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPatientDetailModalLabel">Edit Patient Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body" *ngIf="patient">
          <form>
            <div class="row rowspacing">
              <div class="col">
                <p><b>First Name:</b> {{ patient.firstName }}</p>
              </div>
                      
              <div class="col">
                <p><b>Last Name:</b> {{ patient.lastName }}</p>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">
                <p><b>NRIC:</b> {{ patient.nric }}</p>
              </div>
  
              <div class="col">
                <p><b>Gender:</b> {{ patient.gender }}</p>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">
                <p><b>Address:</b> {{ patient.address }}</p>
              </div>
            </div> 
                  
            <div class="row rowspacing">
              <div class="col">
                <p><b>D.O.B:</b> {{ patient.dob | date: 'dd/MM/yyyy' }}</p>
              </div>
            </div>
  
            <div class="row rowspacing">
              <div class="col">
                <p><b>Nationality:</b> {{ patient.nationality }}</p>
              </div>

              <div class="col">
                <p><b>Contact No:</b> {{ patient.contactNo }}</p>
              </div>
            </div>
          </form>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Add Patient To Queue Modal-->
<div>
  <div class="modal fade" id="addToQueueSuccessModal" tabindex="-1" role="dialog" aria-labelledby="addToQueueSuccessModal" aria-hidden="true">    
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Successfully Added To Queue</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" *ngIf="patient">
          <form>
            <div class="row" style="padding-left: 4%;">
              <p>
                <b>{{ patient.firstName }} </b>
                <b>{{ patient.lastName }} </b>
                has been successfully added to queue.
              </p>
            </div>

            <div class="row" style="padding-left: 4%;">
              <p><strong>Queue Number:</strong> 001</p>
            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>