<div class="container text-center" id="print-to-pdf" style="margin-top: 4%;">
  <div class="row text-center" style="margin-bottom: 2%;">

    <div class="col text-left" id="clinicDetails" style="margin-right: 20%;">
      <img id="clinicLogo" src="./assets/img/clinicLogo.png"/>
      <div>
        <p>Clinic Name</p>
      </div>

      <div>
        <p>Clinic Address</p>
      </div>
    </div>

    <div class="col" id="receiptDetails">
      <div style="border-bottom: 1px black solid; padding-top: 2%; margin-top: 4%;">
        <h4>Receipt</h4>
      </div>
      <div class="text-left" style="padding-top: 1%;">
        <p><b>Number:</b> 0001</p>
      </div>
      <div class="text-left">
        <p><b>Date:</b> 22 November 2018</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col" id="patientDetails">
      <form>
        <div class="row text-left">
          <div class="col">
            <p><b>Patient Name:</b> Jake Peralta</p>
          </div>

          <div class="col">
            <p><b>Doctor:</b> Dr Oreo</p>
          </div>
        </div>

        <div class="row text-left">
          <div class="col">
            <p><b>Address:</b> Blk 123 Happy Street #321123</p>
          </div>

          <div class="col">
            <div class="form-group form-inline">
              <label for="paymentModeSelect" style="padding-right: 5px;"><b>Payment Mode: </b></label>
              <select class="form-control" id="paymentModeSelect"> 
                <option>Cash</option>
                <option>Nets</option>
              </select>
            </div>
          </div>         
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="colspacing"><h5>Description</h5></th>
          <th scope="col" class="colspacing"><h5>Qty</h5></th>
          <th scope="col" class="colspacing"><h5>Amount</h5></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="colspacing text-left" id="consultation">Consultation</td>
          <td class="colspacing" id="consultationQty">-</td>
          <td>
            <div class="form-group form-inline" style="float: right; padding-right: 2%;">
              <label for="consultationAmt" style="padding-right: 5px;">$ </label>
              <input type="number" class="form-control" id="consultationAmt" style="width: 100px;">
            </div>
          </td>
        </tr>

        <tr>
          <td class="colspacing text-left" id="medName">Paracetamol (10 tabs)</td>
          <td class="colspacing" id="medQty">1</td>
          <td class="colspacing text-right" id="medAmt" style="padding-right: 2%;">$6.00</td>
        </tr>
      </tbody>

      <tbody>
        <tr class="table-active">
          <td colspan="2" class="colspacing text-left"><b>Sub-Total</b></td>
          <td class="colspacing text-right" id="subTtl" style="padding-right: 2%;">$36.00</td>
        </tr>

        <tr class="table-active">
          <td colspan="2" class="colspacing text-left"><b>GST (7%)</b></td>
          <td class="colspacing text-right" id="gst" style="padding-right: 2%;">$2.52</td>
        </tr>

        <tr class="table-active">
          <td colspan="2" class="colspacing text-left"><b>Discount</b></td>
          <td>
            <div class="form-group form-inline" style="float: right; padding-right: 2%;">
              <label for="disc" style="padding-right: 5px;">$ </label>
              <input type="number" class="form-control" id="disc" style="width: 100px;">
            </div>
          </td>
        </tr>

        <tr class="table-active">
          <td colspan="2" class="colspacing text-left"><b>Total Due</b></td>
          <td class="colspacing text-right" id="totalDue" style="padding-right: 2%;">$38.52</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row text-center" id="wrapper">
  <button type="reset" class="btn btn-secondary" routerLink="/receptionist/payment">Cancel</button>
  <button id="print-pdf" (click)="downloadPDF()" class="btn btn-primary" style="margin-left: 4%;">Confirm</button>
</div>

